version: "3.9"

services:
  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env.local
    environment:
      NODE_ENV: production
      PORT: 5002
    ports:
      - "5002:5002"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    env_file:
      - ./frontend/.env.local
    environment:
      NODE_ENV: production
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped
